.error{
    color: red;
}
.image_preview {
    width: 150px !important;
    height: 150px !important;
    margin-top: 17px;
    margin-left: 16px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}